/* all your global styling can be set here and automatically loaded in your pages */

@import url("/css/base.css");

body {
  font-family: sans-serif;
  text-align: center;
  margin-top: 100px;
}

.logo {
  width: 400px;
  height: auto;
}

h1 {
  margin-top: 10px;
  font-size: 5em;
}

p {
  margin-top: 10px;
  color: #555;
  font-size: 3em;
}
